.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") Продукция
            li
                a(href="#") #{page.title}
        .content
            .c_row.product_row
                .col_left
                    .product_img
                        img(src=dir+"product.png")
                .col_right
                    h1.product_title #{page.title}

                    p Обрезная доска камерной сушки — это погонажное изделие, пиломатериал размерами сечений.
                    p Основными преимуществами пиломатериалов из северного леса считаются:
                    ul
                        li высокая прочность, твердость
                        li красивая структура
                        li устойчивость к повреждению грибками, влагой, насекомыми
                        li стойкость к растрескиванию
                        li низкая теплопроводность
                        li дома из северного леса дают меньшую усадку

            .c_row
                .col_left
                    h2 Описание
                .col_right
                    p Общие  размеры в мм:
                    ul
                        li толщина от 15 до 50
                        li ширина от 75 до 150
                        li длина 3000/4000
                    p Продукция упаковывается в пленку.
                    p Можем работать по вашим размерам при объеме  заказа 1000 м3



            .c_row.last
                .col_left
                    h2 Сортировка по ГОСТу
                .col_right
                    -var gost=['I (высший, экстра)','II (В)','III (С)','IV (черновой)'];
                    -var gost2=['Идеальное состояние — равномерный цвет, минимальное количество сучков, до 5% обзола.','Цвет может быть неравномерным. Допускаются здоровые сучки, обзол до 10%, невыпадающие карманы.','Цвет неравномерный, встречаются здоровые и выпадающие сучки, незначительные потемнения, следы биологических повреждений, обзол до 25%, трещины, признаки старения древесины.','К качеству предъявляются минимальные требования — сучки, карманы, следы червоточин, жуков-короедов, заболони в виде пятен и полос, трещины, обзол более 25%.'];
                    .gost_list
                        for g_item, index in gost
                            -var count=index+1
                            .item
                                .gost_item
                                    .txt_block
                                        .gost_title=g_item
                                        .gost_desc=gost2[index]
                                    picture
                                        img(src=dir+"gost.png")



            .gallery_block
                h2 Готовая продукция
                .gallery_list
                    -for(var g=1;g<=3;g++)
                        .item
                            picture
                                a(href=dir+"gal.png")
                                    img(src=dir+"gal.png")




include ../kp








