.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") #{page.title}
        .content
            .c_row
                .col_left
                    h1.h2 #{page.title}
                .col_right
                    p Наши производственные мощности позволяют ежегодно производить  до 120 тыс. м3 экспортного пиломатериала. Современная линия лесопиления «Арктант», итальянский сушильный комплекс SECAL, вместительностью  до 12 тыс. м3 в месяц, 2 цеха по производству погонажных изделий, линия сортировки сухих пиломатериалов, собственные котельные. Отгрузка готовой продукции производится автотранспортом и 40 футовыми контейнерами.
                    p Отличное качество наших материалов (выше ГОСТа) — соответствует мировым стандартам, сертификация FSC, долгосрочное сотрудничество  с европейскими покупателями, работаем по требованиям клиента (можем выполнить национальные требования к продукту: определенная заданная ширина, толщина, определенная индивидуальная маркировка продукта). Производство из северного леса.
                    p Мы ежегодно выполняем лесохозяйственные мероприятия по охране,  защите и воспроизводству лесов. Мы срубаем лес и высаживаем саженцы. Лесовосстановление  является обязательной частью цикла лесовыращивания в лесохозяйственном производстве и обеспечивает сохранение экологических и социальных функций леса.

            .production_image
                img(src=dir+"image_factory.png")
            .production_desc Стратегической задачей компании является создание современного предприятия полного цикла, самостоятельно выполняющего все технологические операции  —  от заготовки древесины до лесовосстановительных работ, от первичной переработки лесного сырья до выпуска готовых изделий.

            .ellipse_blocks
                img(src=dir+'ellipse_blocks.png')


            .production_slider
                -for(var pr=1;pr<=4;pr++)
                    .production_slider_item
                        .production_slider_item_content
                            span Как у нас всё устроено #{pr}
                            .title.h1 На своей сырьевой базе #{pr}
                            .desc Наличие собственной, качественной сырьевой базы на арендованных лесных участках Республики Коми, позволяющей использовать в производстве только стабильный породный состав для изготовления готовой продукции.






include ../kp