.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") #{page.title}
        .content.about_content
            .c_row
                .col_left
                    h1.h2 #{page.title}
                .col_right
                    p Наша компания развивается каждый день и за 11 лет прошла огромный путь от небольшого предприятия до одного из крупнейших производителей пиломатериалов в регионе и вышла на ежегодные объемы стопроцентной переработки древесины в 120 тыс. м3, заготавливаемой в Республике Коми. Наша основная миссия: от заготовки леса до готовой продукции — стопроцентная переработка леса и нулевая утилизация продукции на полигоны ТБО.
                    p Мы прочно стоим на ногах, являемся партнером государства в его проектах, развиваемся каждый день и даём рабочие места сотням людей. При этом мы клиентоориентированны и имеем гибкий подход к клиенту. Мы любим клиентов и заинтересованы во взаимовыгодном сотрудничестве.
            -var adv=['11 лет','120 000 м3','10 гектаров'];
            -var adv_txt=['Рекомендуем себя как профессионалы','Экспортных пиломатериалов производим ежегодно','Своих производственных площадей'];
            .adv_block
                for adv_item, index in adv
                    .item
                        .title=adv_item
                        .desc=adv_txt[index]


            .c_row
                .col_left
                    h2 Руководство
                .col_right
                    .leaders
                        -for(var l=1;l<=4;l++)
                            .item
                                .leaders_item
                                    picture
                                        img(src=dir+"image.png")
                                    .title Эскиндаров Мухадин Абдурахманович
                                    .desc Член Комитета по стратегии и устойчивому развитию

            .c_row
                .col_left
                    h2 15 стран закупают нашу продукцию
                .col_right
                    .map2
                        img(src=dir+'all_map.png')


            .c_row
                .col_left
                    h2 Производство
                .col_right
                    p Наши производственные мощности позволяют ежегодно производить  до 120 тыс. м3 экспортного пиломатериала. Современная линия лесопиления «Арктант», итальянский сушильный комплекс SECAL, вместительностью  до 12 тыс. м3 в месяц, 2 цеха по производству погонажных изделий, линия сортировки сухих пиломатериалов, собственные котельные. Отгрузка готовой продукции производится автотранспортом и 40 футовыми контейнерами.


            .video_container
                span.play_btn#play_btn
                video#video(src=dir + 'video.mp4')





include ../kp